.categoriaName {
    font-size: min(5vw, 40px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: min(10vw, 100px);
    padding-left: 20px;
    background-color: var(--mantine-color-blue-4);
    font-family: 'Montserrat', sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sortWrapper {
    width: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-bottom: 15px;
}

.productsWrapper {
    display: flex;
    justify-content: center;
    width: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.productListWrapper {
    flex: 1 1 auto; 
    margin-top: -20px;
}

@media (max-width: 1300px) {
    .mainContainer { width: 80%; }
    .sortWrapper { width: 80%; }
}

@media (max-width: 1100px) {
    .mainContainer { width: 90%; }
    .sortWrapper { width: 90%; }
}

@media (max-width: 900px) {
    .mainContainer { width: 100%; }
    .sortWrapper { width: 100%; }

    .filterWrapper {
        display: none
    }
}