.mainContainer {
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: bold;
}

.priceInputContainer {
    display: flex;
    gap: 5px;
}

.priceInput {
    width: 75px;
}

.brandInput {
    font-family: 'Montserrat', sans-serif;
}